* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Manrope", sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: white;
}

.container {
    text-align: center;
    padding: 2rem;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: visible;
    margin: 0 auto;
    max-width: 90%;
}

.advice-card {
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
}

.advice-number {
    color: hsl(150, 100%, 66%);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.advice-text {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 2rem;
    color: hsl(193, 38%, 86%);
}

.divider {
    display: block;
    margin: 0 auto 2rem;
}

.desktop-divider {
    display: none;
}

.dice-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
}

#dice-button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

#dice-button:active {
    box-shadow: 0 0 20px 10px hsl(150, 100%, 66%);
}

@media (max-width: 375px) {
    .container {
        padding: 1rem;
        max-width: 80%;
    }

    .advice-text {
        font-size: 24px;
    }

    .desktop-divider {
        display: none;
    }

    .mobile-divider {
        display: block;
    }
}

@media (min-width: 376px) {
    .mobile-divider {
        display: none;
    }

    .desktop-divider {
        display: block;
    }
}
