* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: white;
}

.container {
    text-align: center;
    padding: 2rem;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: visible;
    margin: 0 auto;
    max-width: 90%;
}

.advice-card {
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
}

.advice-number {
    color: hsl(150, 100%, 66%);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.advice-text {
    font-size: 1.75rem; /* 28px */
    font-weight: 800;
    margin-bottom: 2rem;
    color: hsl(193, 38%, 86%);
}

.divider {
    display: block;
    margin: 0 auto 2rem;
    max-width: 100%;
    width: auto;
}

.dice-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
}

#dice-button {
    background-color: hsl(150, 100%, 66%);
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

#dice-button:hover {
    transform: rotate(90deg);
    box-shadow: 0 0 20px 10px hsl(150, 100%, 66%);
}

#dice-button:focus {
    outline: 2px solid hsl(150, 100%, 66%);
    outline-offset: 4px;
}

img, picture {
    display: block;
    max-width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: hsl(218, 23%, 16%);
}

.attribution a {
    color: hsl(150, 100%, 66%); 
    text-decoration: underline;
}

@media (max-width: 23.44em) {/* 375 px */
    .container {
        padding: 1rem;
        max-width: 80%;
    }

    .advice-text {
        font-size: 1.5rem; /* 24 px */
    }

    .desktop-divider {
        display: none;
    }

    .mobile-divider {
        display: block;
    }
}

@media (min-width: 23.5em) { /* 376 px */
    .mobile-divider {
        display: none;
    }

    .desktop-divider {
        display: block;
    }
}
